<h1>Sign Up Below:</h1>
<form>
  <p>name: <input type='text' name='name'></p>
  <p>email: <input type='text' name='email'></p>
  <p>password: <input type='text' name='password'></p>
   <input type ='submit' method='post' action='post'>
  
  
</form>

